---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
 
<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-white">Hey, soy Juan <badge>disponible para trabajar</badge></h1>
		<h2>ingeniero electronico, desarrollador de software y hardware.
			de Buenos Aires, Argentina :ar.  
		</h2>

		<ul></ul>
	</main>
</Layout>

